* {
  margin: 0;
  padding: 0;
}
.color_box {
  max-width: 500px;
  border-radius: 10px;
  background: #f1f1f1;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px auto;
  padding: 20px;
}
.color_text {
  background: #ddd;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  margin: 30px 0;
}

.btn {
  background: rgb(190, 7, 7);
  padding: 10px 20px;
  border: 0;
  border-radius: 10px;
  color: #fff;
  text-transform: capitalize;
}
.color_code {
  font-size: 20px;
  color: red;
}
p {
  font-size: 30px;
  color: #000;
  text-transform: capitalize;
}
